@import url('https://fonts.googleapis.com/css?family=Montserrat:500');




body{
    background: linear-gradient(to left,#7f849c,#11111b)
}

@keyframes fade-out{
    from
    {
	opacity: 1;
    }
    to{
	opacity: 0;
    }
}


#first {
    animation-name: fade-out;
    animation-timeline: view();
}

@keyframes fade-in{
    from {scale: .8; opacity: 0;}
    to {scale: 1; opacity: 1;}
}


#profile-picture {
    margin-top: 150px;
    margin-bottom: 50px;
    width: 150px;
    height: 150px;
    border-radius: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: fade-in linear;
    animation-timeline: view();
}

/* navigation bar css*/

.navbar{
    position: sticky;
}
.navbar ul{
    list-style-type: none; 
    background-color: #313244;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 20px;
    
}

.navbar a{
    color: #cdd6f4;
    text-decoration: none;
    padding: 20px; 
    display: block;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    
}

.navbar a:hover{
    background-color: #45475a;
    border-radius: 50px; 
    transition: all 0.3s ease 0s;
}

.navbar li{
    float: left; 

}

/* end */
