@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



body{
    background: linear-gradient(to left,#7f849c,#11111b);
								
}

@keyframes fade-out{
    from {scale: .8; opacity: 1;}
    to {scale: 1; opacity: 0;}
}


#first {
		animation-name: fade-out;
		animation-timeline: view(
				cover 0%, 
        contain 100% );
}

@keyframes fade-in{
    from {scale: .8; opacity: 0;}
    to {scale: 1; opacity: 1;}
}

@keyframs left{
		from{transform: translateX(100px)}
}

.about {
		
		animation-name: fade-in;
		animation-timeline: view();
}


/* navigation bar css*/

.navbar{
    position: sticky;
		top: 0;
}
.navbar ul{
    list-style-type: none; 
    background-color: #313244;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 20px;
    
}

.navbar a{
    color: #cdd6f4;
    text-decoration: none;
    padding: 20px; 
    display: block;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    
}

.navbar a:hover{
    background-color: #45475a;
    border-radius: 50px; 
    transition: all 0.3s ease 0s;
}

.navbar li{
    float: left; 

}

.navbar img {
		border-radius: 100px;
		width: 50px;
		height: 50px;
		margin-left: 20px;
		margin-top: 5px;
		border-color: #fff;
		border: 2px solid black;
}
/* end */

.about {
		display: flex;
		justify-content: space-evenly;
		padding-bottom: 200px;
}

.background {
		background-image: linear-gradient(#303446,#51576d);
		border-radius: 10%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 10%;
		margin-top: 20%;
}

.text{
		color: #c6d0f5;
		font-family: "Roboto Mono", sans-serif; 
		text-align: center;
}

.text h2{
		
}

.text h1{
	
}

.text p{
		font-size: 20px;
		text-alight: center;
}

@keyframes glow {
		50%{box-shadow: 0px 0px 50px white}
}

.buttons {
		position: relative;
		top:200px;
}
 
.buttons button:hover{
		animation-name: glow;
		animation-duration: 2s;
}



.about img{
		width: 100%;
		height: 100%%; 
		margin: auto;
		border-radius: 100px;
		border: 5px solid #babbf1;
}
